
* {
  background-color: whitesmoke;
  display: flexbox;

  /* flex-flow: column; */
  

 
}
/* htmlcheatsheet.com/css */
/* flexbox cheatsheet https://yoksel.github.io/flex-cheatsheet/ */



/*         Header         */
header{
 display: flexbox;
 margin: 0px auto;
 width: 960px;

  

}

#leftNav {
  margin-top: 50px;
  display: inline-flex;
}



header p {
  flex-direction: column;
  display: inline-flex;

}
header img {
  align-items: flex-start;
}
header p:nth-child(2){
  font-family: 'Pacifico', cursive;
  color: black;
  font-weight: bold;
  font-size: xx-large;
  /* margin: auto; */
  order: 1;
  flex: 1;

}

header p:nth-child(3){
  font-family: 'Advent Pro', sans-serif;
  color: grey;
  font-size: thin;
  font-size: xx-small;
  margin: auto;
  order: 2;
  flex: 1;

}

#icons{
  float: right;
  display: inline-flex;
  margin-top: -45px;
  justify-content: space-around;

}

 #icons li:nth-child(7){
  margin-left: 10px;
   
}

hr {
  border-width: 10px;
  border-image: url('./img/hr-img.png');
  border-image: repeat;
}




/*        Main section        */
main {
  margin: 0px auto;
  width: 960px;
}

main h1{
  font-family: 'Anton', sans-serif;
  font-size: xx-large;
  margin-top: 70px;
 
}

main p:nth-child(2){
  font-family: 'Advent Pro', sans-serif;
  color: grey;
  font-size: thin;
  font-size: xx-small;
 
}

main p:nth-child(3){
  float: right;
  margin-top: -10px;
}

main img {
  margin-left: 20px;
  
}

.description {
  font-family: 'Lusitana', serif;
  /* outline: red 3px solid; */
  text-align: justify;
  padding: 10px;
  text-indent: 20px;
  line-height: 20px;
  font-size: medium;

}
/* overlap of notepad and reciepe */

#receipe {
  outline: 3px rgb(0, 255, 85) dashed;
  margin: 0px auto;
  width: 960px;
  display: flexbox;
  background-image: url('./img/list-bg.png');
  justify-content: center;
    
}

#columnOne {
  font-family: 'Grandstander', cursive;
  position: relative;
  /* outline: 3px blue dashed; */
  top: -275px;
  font-size: x-large;
  font-weight: bold;
  /* justify-content: space-evenly; */
  line-height: 1.5em;
  float: left;
  z-index: 10;  
  background-color: #FFFFFFFF);
  margin-left: 25px;
}

#columnTwo {
  font-family: 'Grandstander', cursive;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  outline: violet 3px dashed;
  top: -275px;
  float: right;
  line-height: 1.5em;
  margin-right: 20px;
 
}
/* about and share */

#share {
  outline: 3px pink dashed;
  margin: 0px auto;
  width: 960px;
  display: flexbox;
  
}
#share img {
  float: left;
  flex: 1;
  order: 1;
}
#share h1 {
  font-size: x-large;
  font-weight: bold;
}

#share button{
  float: right;
  flex: 2;
  order: 2;
}

/* footer information */

footer{
  margin-top: 50px;
  outline: tomato 3px solid;
  margin-bottom: 150px;
  align-content: center;
  display: inline;
  align-content: center;
}