
* {
  background-color: whitesmoke;
  display: flexbox;
  margin: auto;
  /* flex-flow: column; */
  

 
}
/* htmlcheatsheet.com/css */
/* flexbox cheatsheet https://yoksel.github.io/flex-cheatsheet/ */



/*         Header         */
header{
 display: flexbox;

  

}

#leftNav {
  outline: 3px red dotted;
  margin-top: 50px;
  display: inline-flex;
}



header p {
  flex-direction: column;
  display: inline-flex;

}

header p:nth-child(2){
  font-family: 'Pacifico', cursive;
  color: black;
  font-weight: bold;
  font-size: xx-large;
  /* margin: auto; */
  order: 1;
  flex: 1;

}

header p:nth-child(3){
  font-family: 'Advent Pro', sans-serif;
  color: grey;
  font-size: thin;
  font-size: xx-small;
  margin: auto;
  order: 2;
  flex: 1;

}

#icons{
  outline: 3px Blue solid;
  float: right;
  outline: dotted 5px blue;
  display: inline-flex;
  margin-top: -45px;

}

 #icons li:nth-child(7){
  margin-left: 3px;
  outline: red 2px solid;
  
}






/*        Main section        */
main h1{
  font-family: 'Anton', sans-serif;
}

main p:nth-child(1){
  font-family: 'Advent Pro', sans-serif;
  color: grey;
  font-size: thin;
  font-size: xx-small;
  outline: blue 2 dotted;
}